.header{
    background-color: #1C2B35;
    position: sticky;
    top: 0;
    z-index: 999;
  
}
.header .nav{
    max-width: 1160px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navItems {
    list-style: none;
}
.navItems  li{
    display: inline-block;
    margin-left: 32px;
}
.navItems  li a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
    color: #ffffff;

}

.navItems  li a:hover{
    color: #FF9900;
    transition: .4s;
}